<!DOCTYPE html>
<html lang="en">

<% include header.ejs %>

<body>

<div id="content">

    <div class="container">

        <div class="row">

            <div class="span3">

                <div class="account-container">

                    <div class="account-details">

                        <span class="account-name"><%= userinfo.username %></span>

                        <span class="account-role"><%= userinfo.department %> | <%= userinfo.position %></span>

                        <span class="account-actions"><%= userinfo.email %></span>

                    </div> <!-- /account-details -->

                </div> <!-- /account-container -->

                <hr />

                <ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li>
                        <a href="/alist">
                            <i class="icon-th-list"></i>
                            申请列表
                        </a>
                    </li>

                    <li class="active">
                        <a href="/ulist">
                            <i class="icon-user"></i>
                            用户列表
                        </a>
                    </li>

                    <li>
                        <a href="/adduser">
                            <i class="icon-plus"></i>
                            新增用户
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="icon-lock"></i>
                            注销
                        </a>
                    </li>

                </ul>

                <hr />

                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div> <!-- .sidebar-extra -->

                <br />

            </div> <!-- /span3 -->



            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-user"></i>
                    修改用户
                </h1>


                <div class="row">

                    <div class="span9">

                        <div class="widget">

                            <div class="widget-header">
                                <h3>修改用户信息</h3>
                            </div> <!-- /widget-header -->

                            <div class="widget-content">

                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#1" data-toggle="tab">详细信息：</a>
                                        </li>
                                    </ul>

                                    <br />

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="1">
                                            <form id="edit-profiles" class="form-horizontal" action="adjust" method="post" onsubmit="return checkIP()" />
                                            <fieldset>
                                                <input type="hidden" id="aid" name="uid" value="<%=userlist[0].id%>" />

                                                <div class="control-group">
                                                    <label class="control-label" for="username"> 姓 名 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="username" id="username" value="<%=userlist[0].username%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="department"> 部 门 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="department" id="department" value="<%=userlist[0].department%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="position"> 职 位 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="position" id="position" value="<%=userlist[0].position%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="tel">联系电话</label>
                                                    <div class="controls">
                                                        <input type="tel" class="input-medium" name="tel" id="tel" value="<%=userlist[0].tel%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="email">E-mail</label>
                                                    <div class="controls">
                                                        <input type="email" class="input-large" name="email" id="email" value="<%=userlist[0].email%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="password">新密码</label>
                                                    <div class="controls">
                                                        <input type="password" class="input-large" name="password" id="password" value="<%=userlist[0].password%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="cpassword">确认密码</label>
                                                    <div class="controls">
                                                        <input type="password" class="input-large" name="cpassword" id="cpassword" value="<%=userlist[0].password%>" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="accounttype">用户类型</label>
                                                    <div class="controls">
                                                        <label class="radio">
                                                            <input type="radio" name="type" value="c" <% if(userlist[0].type == 'c') { %> checked="checked" <% }  %> id="accounttype" />
                                                            普通用户
                                                        </label>
                                                        <label class="radio">
                                                            <input type="radio" name="type" value="a" <% if(userlist[0].type == 'a') { %> checked="checked" <% }  %> />
                                                            管理员
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="form-actions">
                                                    <button type="submit" class="btn btn-primary">修改</button>
                                                    <a href="#deletebox" data-toggle="modal" class="btn btn-danger">删除</a>
                                                    <a href="/ulist" class="btn">返回</a>
                                                    <!--<p href="/ulist" style="float: right; margin-right: 200px;margin-top: 5px;"></p>-->
                                                </div> <!-- /form-actions -->

                                                <div id="deletebox" class="modal hide fade in" style="display: none; ">
                                                    <div class="modal-header">
                                                        <a class="close" data-dismiss="modal">×</a>
                                                        <h3>关闭申请</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>此过程不可逆！</h4>
                                                        <p>请问您是否要关闭此次申请？</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="/duser=<%=userlist[0].id%>" class="btn btn-danger">关闭</a>
                                                        <a href="#" class="btn" data-dismiss="modal">取消</a>
                                                    </div>
                                                </div>

                                            </fieldset>
                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div> <!-- /widget-content -->

                        </div> <!-- /widget -->

                    </div> <!-- /span9 -->

                </div> <!-- /row -->

            </div> <!-- /span9 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

    <div class="container">
        <hr />
        <p>&copy; 2012 Go Ideate.</p>
    </div> <!-- /container -->

</div> <!-- /footer -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">
    function checkIP(){
        var username=document.getElementById("username").value;//通过id获取需要验证的表单元素的值
        if(username==""){//当上面获取的值为空时
            alert("姓名不能为空");//弹出提示
            return false;//返回false（不提交表单）
        }
        var department=document.getElementById("department").value;
        if(department==""){
            alert("部门不能为空");
            return false;
        }
        var position=document.getElementById("position").value;
        if(position==""){
            alert("职位不能为空");
            return false;
        }
        var tel=document.getElementById("tel").value;
        if(tel==""){
            alert("联系电话不能为空");
            return false;
        }
        var email=document.getElementById("email").value;
        if(email==""){
            alert("email不能为空");
            return false;
        }
        var password=document.getElementById("password").value;
        if(password==""){
            alert("密码不能为空");
            return false;
        }
        var cpassword=document.getElementById("cpassword").value;
        if(cpassword==""){
            alert("密码不能为空");
            return false;
        }
        if(cpassword!=password){
            alert("两次密码不一致");
            return false;
        }
        return true;//提交表单
    }
</script>
<script src="./js/jquery-1.7.2.min.js"></script>
<script src="./js/bootstrap.js"></script>

</body>
</html>
