<!DOCTYPE html>
<html lang="en">

<% include header.ejs %>

<body>

<div id="content">

    <div class="container">

        <div class="row">

            <div class="span3">

                <div class="account-container">

                    <div class="account-details">

                        <span class="account-name"><%= userinfo.username %></span>

                        <span class="account-role"><%= userinfo.department %> | <%= userinfo.position %></span>

                        <span class="account-actions"><%= userinfo.email %></span>

                    </div> <!-- /account-details -->

                </div> <!-- /account-container -->

                <hr />

                <ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li>
                        <a href="./adduser_a.html">
                            <i class="icon-plus"></i>
                            新增用户
                        </a>
                    </li>

                    <li>
                        <a href="./userlist_a.html">
                            <i class="icon-user"></i>
                            用户列表
                        </a>
                    </li>

                    <li class="active">
                        <a href="./applylist_a.html">
                            <i class="icon-th-list"></i>
                            申请列表
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="icon-lock"></i>
                            注销
                        </a>
                    </li>

                </ul>

                <hr />

                <div class="sidebar-extra">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                </div> <!-- .sidebar-extra -->

                <br />

            </div> <!-- /span3 -->



            <div class="span9">

                <h1 class="page-title">
                    <i class="icon-th-large"></i>
                    会员数据申请表--审核
                </h1>


                <div class="row">

                    <div class="span9">

                        <div class="widget">

                            <div class="widget-header">
                                <h3>管理员审核</h3>
                            </div> <!-- /widget-header -->

                            <div class="widget-content">

                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#1" data-toggle="tab">状态：<%= application[0].states %></a>
                                        </li>
                                    </ul>

                                    <br />

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="1">
                                            <div id="edit-profiles" class="form-horizontal" />

                                                <div class="control-group">
                                                    <label class="control-label" for="username"> 姓 名 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium disabled" id="username" value="<%= application[0].username %>" disabled="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="department"> 部 门 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium disabled" id="department" value="<%= application[0].department %>" disabled="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="position"> 职 位 </label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium disabled" id="position" value="<%= application[0].position %>" disabled="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="phone">联系电话</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium disabled" id="phone" value="<%= application[0].tel %>" disabled="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="email">E-mail</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-large disabled" id="email" value="<%= application[0].email %>" disabled="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="date">申请日期</label>
                                                    <div class="controls">
                                                        <input type="date" class="input-large disabled" id="date" value="<%= application[0].date_apply %>" disabled="" />
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="data-field">申请原因</label>
                                                    <div class="controls">
                                                        <textarea type="text" class="input-large disabled" id="data-field" disabled=""><%= application[0].reason_apply %></textarea>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->

                                                <div class="control-group">
                                                    <label class="control-label" for="reason">申请会员数据字段</label>
                                                    <div class="controls">
                                                        <textarea type="text" class="input-large disabled" id="reason" disabled=""><%= application[0].data_field_apply %></textarea>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="justice">法务部</label>
                                                    <div class="controls">
                                                        <textarea type="text" class="input-large disabled" id="justice" value="" disabled=""></textarea>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="HOC">Head of CRM</label>
                                                    <div class="controls">
                                                        <textarea type="text" class="input-large disabled" id="HOC" value="" disabled=""></textarea>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="control-group">
                                                    <label class="control-label" for="HOBD">Head of business department</label>
                                                    <div class="controls">
                                                        <textarea type="text" class="input-large disabled" id="HOBD" value="" disabled=""></textarea>
                                                    </div> <!-- /controls -->
                                                </div> <!-- /control-group -->


                                                <div class="form-actions">
                                                    <% if(application[0].states == '已关闭') { %>  <% } else { %>
                                                    <a class="btn btn-success" href="/audit/?id=<%= application[0].id_apply %>&judge=已审核">通过</a>
                                                    <a class="btn btn-warning" href="/audit/?id=<%= application[0].id_apply %>&judge=已拒绝">拒绝</a>
                                                    <% } %>
                                                    <a class="btn" href="/alist">返回</a>
                                                </div> <!-- /form-actions -->
                                            </div>
                                        </div>

                                    </div>


                                </div>

                            </div> <!-- /widget-content -->

                        </div> <!-- /widget -->

                    </div> <!-- /span9 -->

                </div> <!-- /row -->

            </div> <!-- /span9 -->

        </div> <!-- /row -->

    </div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

    <div class="container">
        <hr />
        <p>&copy; 2012 Go Ideate.</p>
    </div> <!-- /container -->

</div> <!-- /footer -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>


<script src="./js/bootstrap.js"></script>

</body>
</html>
